@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css 파일 */
@font-face {
  font-family: "DNFBitBitv2";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf")
    format("opentype");
}
@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

//cssReset
* {
  margin: 0;
  padding: 0;
  color: inherit;
}
*,
:after,
:before {
  box-sizing: border-box;
}
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 애니메이션 */
/* ----------------------------------------------
 * Generated by Animista on 2024-7-23 8:50:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    /* 애니메이션을 잠시 멈추기 위해 추가 */
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  60% {
    /* 애니메이션을 잠시 멈추기 위해 추가 */
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  70% {
    /* 애니메이션을 잠시 멈추기 위해 추가 */
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  80% {
    /* 애니메이션을 잠시 멈추기 위해 추가 */
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.heartbeat {
  -webkit-animation: heartbeat 2s linear infinite;
  animation: heartbeat 2s linear infinite;
}

//hover.css
/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* 턴 선택 시 뒤집는 카드들*/
.flip-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px; /* 3D 효과를 위한 원근 */
  /* margin-top: 50px; 약간의 마진 추가 */
}

.flip-card {
  background-color: transrent;
  width: 165px;
  height: 228px;
  /* 3D 공간 생성 */
  perspective: 1000px;
  /* 카드를 비스듬하게 배치 */
  transform: rotateX(60deg);
  transition: transform 0.3s ease-in-out;
  border-radius: 15px; /* 카드 모서리를 둥글게 */
  /* display: inline-block; */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition:
    transform 0.9s,
    box-shadow 0.6s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.6),
    1.5px 1.5px 3px rgba(0, 0, 0, 0.5),
    2px 2px 5px rgba(0, 0, 0, 0.4),
    2.5px 2.5px 7px rgba(0, 0, 0, 0.3),
    3px 3px 9px rgba(0, 0, 0, 0.2),
    3.5px 3.5px 11px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* 카드 내부 요소도 둥글게 */
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* hover 효과가 flipped 클래스가 없는 경우에만 적용되도록 */
.flip-card:not(.flipped):hover,
.flip-card.flipped {
  /* 카드가 정면을 향하게 */
  transform: rotateX(0deg) scale(1) translateY(-38px);
}

/* 5개의 단어카드 css */
.table-container {
  position: relative;
  /* width: 1000px; */
  height: 90px;
  perspective: 800px; /* 3D 효과를 위한 원근 */
}

.word-card-container {
  display: flex;
  /* width: 1000px; */
  justify-content: space-between;
  /* 컨테이너의 회전 */
  transform: rotateX(65deg);
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
}

.word-card {
  transform: translateZ(0);
  will-change: transform;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
  width: 135px;
  height: 180px;
  border-radius: 5px;
  /* 카드 그림자 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.word-card:hover {
  /* 카드가 약간 올라가게 */
  transform: rotateX(-65deg) scale(1.1) translateY(-10px);
  transform-origin: bottom;
  /* 호버 시 그림자 강화 */
  box-shadow:
    0 25px 35px rgba(0, 0, 0, 0.5),
    0 20px 25px rgba(0, 0, 0, 0.4),
    0 15px 20px rgba(0, 0, 0, 0.3);
}

/* 드래그 하기 전 우선순위 하트카드 */
.initial-card {
  transform-style: preserve-3d;
  transform: rotateY(25deg) rotateX(60deg);
  transition: transform 0.3s ease-in-out;
}
.initial-card:hover {
  transform: rotateX(0deg) rotateY(0deg) scale(1.1) translateY(-10px);
}

/* 5개의 우선순위하트카드 css */
.drop-table-container {
  position: relative;
  /* width: 1200px; */
  height: 100px;
  perspective: 800px; /* 3D 효과를 위한 원근 */
}

.drop-card-container {
  display: flex;
  justify-content: space-between;
  /* width: 1200px; */
  perspective: 15000px;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
  transform: rotateX(60deg);
}

.drop-card-you {
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
  transform: rotateX(5deg);
}
.drop-card-me {
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;

  /* width: 135px;
  height: 180px; */
  /* border-radius: 30px; */
  /* 카드 그림자 */
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
}

.drop-card-you:hover {
  transform: rotateX(-65deg) scale(1.1) translateY(-10px);
  transform-origin: bottom;
  box-shadow:
    0 20px 30px rgba(0, 0, 0, 0.4),
    0 15px 20px rgba(0, 0, 0, 0.2);
}

.drop-card-me:hover {
  transform: rotateX(-60deg) scale(1.1) translateY(-10px);
  transform-origin: bottom; /* 회전 기준점을 카드의 하단으로 설정 */
  box-shadow:
    0 20px 30px rgba(0, 0, 0, 0.4),
    0 15px 20px rgba(0, 0, 0, 0.2);
}

.deep-3d-text {
  text-shadow:
    1px 1px 2px #000,
    2px 2px 4px #000,
    3px 3px 8px rgba(0, 0, 0, 0.7),
    4px 4px 12px rgba(0, 0, 0, 0.7),
    5px 5px 16px rgba(0, 0, 0, 0.7),
    6px 6px 20px rgba(0, 0, 0, 0.7);
  transform: perspective(500px) rotateX(15deg);
  font-weight: bold;
}

/* 공통 3D 버튼 스타일 */
.three-d-button {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  color: white;
  font-family: "DungGeunMo", sans-serif;
  font-size: 18px;
  box-shadow:
    0 5px 0 rgba(0, 0, 0, 0.2),
    0 8px 15px rgba(0, 0, 0, 0.3); /* 그림자 */
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
  transform: rotateX(35deg);
}

/* Reset 버튼 (회색) */
.three-d-button.reset {
  background-color: #607d8b; /* 회색 계열 */
  box-shadow:
    0 5px 0 #455a64,
    0 8px 15px rgba(0, 0, 0, 0.3); /* 그림자 */
}

.three-d-button.reset:hover {
  transform: translateY(-4px);
  box-shadow:
    0 7px 0 #455a64,
    0 10px 20px rgba(0, 0, 0, 0.4);
}

.three-d-button.reset:active {
  transform: translateY(5px);
  box-shadow:
    0 2px 0 #455a64,
    0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 선택 완료 버튼 (주황색) */
.three-d-button.finalize {
  background-color: #ff5722; /* 주황색 계열 */
  box-shadow:
    0 5px 0 #d84315,
    0 8px 15px rgba(0, 0, 0, 0.3); /* 그림자 */
}

.three-d-button.finalize:hover {
  transform: translateY(-4px);
  box-shadow:
    0 7px 0 #d84315,
    0 10px 20px rgba(0, 0, 0, 0.4);
}

.three-d-button.finalize:active {
  transform: translateY(5px);
  box-shadow:
    0 2px 0 #d84315,
    0 4px 8px rgba(0, 0, 0, 0.2);
}

/* index.css에 추가할 로딩 스피너 스타일 */
.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* index.css에 추가할 점진적 진행 바 애니메이션 */
.loading-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  animation: bounce 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/* Love와 Money 선택 카드 스타일 */
/* 테이블 위에 이미지가 놓여 있는 듯한 효과 */
.table-image-container {
  display: flex;
  justify-content: center;
  gap: 10rem; /* 이미지 간의 간격을 설정 */
  perspective: 800px; /* 3D 효과를 위한 원근감 */
}

.table-image-wrapper {
  transition:
    transform 0.3s ease-in-out,
    filter 0.3s ease-in-out;
  cursor: pointer;
  transform: rotateX(
    60deg
  ); /* 이미지와 텍스트가 함께 비스듬하게 보이도록 회전 */
  filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.2)); /* 기본 그림자 */
  text-align: center;
}

.table-image-wrapper:hover {
  transform: rotateX(40deg) translateY(-10px); /* 호버 시 이미지와 텍스트가 함께 떠오르게 */
  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 0.4)); /* 호버 시 그림자 강화 */
}

.table-image-wrapper.selected {
  transform: rotateX(0deg) translateY(-15px) scale(1.1); /* 선택된 이미지와 텍스트를 강조 */
  filter: drop-shadow(
    0 20px 30px rgba(0, 0, 0, 0.5)
  ); /* 선택된 이미지의 그림자 */
}

.table-image {
  width: 130px;
  height: auto;
}

.table-image-text {
  font-family: "DungGeunMo", sans-serif;
  margin-top: 10px;
  color: white;
  text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    0 0 10px rgba(255, 255, 255, 0.5); /* 텍스트에 그림자와 글로우 효과 추가 */
  font-size: 2rem; /* 텍스트 크기를 크게 설정 */
  font-weight: bold; /* 텍스트를 굵게 설정 */
}

.table-image-wrapper.selected .table-image-text {
  text-shadow:
    3px 3px 6px rgba(0, 0, 0, 1),
    0 0 15px rgba(255, 255, 255, 0.8);
}

/* ----------------------------------------------
 * Generated by Animista on 2024-8-14 13:6:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45),
      0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45),
      0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45),
      0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45),
      0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
.text-flicker-in-glow {
  -webkit-animation: text-flicker-in-glow 4s linear both;
  animation: text-flicker-in-glow 4s linear both;
}
