.fNav {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-300px);
  height: 100%;
  width: 400px;
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
  border-radius: 0% 0% 100% 50%;
}

nav.nav-open {
  transform: translateX(0px);
  border-radius: 0% 0% 0% 0%;
  background: rgba(0, 5, 18, 0.9);
}

nav .menu-btn {
  position: absolute;
  top: 10%;
  right: 5%;

  width: 30px;
  cursor: pointer;
  z-index: 2;
}

nav .menu-btn .line {
  width: 30px;
  background: #ffffff;
  height: 2px;
  margin: 5px 0;
  transition: all 700ms cubic-bezier(0.9, 0, 0.33, 1);
}

nav .menu-btn .line.line--1 {
  width: 30px;
  transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--1.line-cross {
  width: 30px;
  transform: rotate(45deg) translateY(10px);
  background: rgba(255, 255, 255);
}

nav .menu-btn .line.line--2 {
  width: 28px;
  transform: translateX(0);
}

nav .menu-btn .line.line--2.line-fade-out {
  width: 28px;
  transform: translate(30px);
  opacity: 0;
}

nav .menu-btn .line.line--3 {
  width: 20px;
  transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--3.line-cross {
  width: 30px;
  transform: rotate(-45deg) translateY(-10px);
  background: rgba(255, 255, 255);
}

nav .nav-links {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 900ms cubic-bezier(0.9, 0, 0.33, 1);
}

nav .nav-links.fade-in {
  opacity: 1;
  transform: translateX(0px);
}

nav .nav-links .link {
  margin: 20px 0;
  text-decoration: none;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: all 300ms cubic-bezier(0.9, 0, 0.33, 1);
}
